// Here you'll find the components of the site

// Active status
.active {
  color: $link;
}

.active-black {
  color: white;
  -webkit-text-fill-color: black;
  /* Base color */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

// Menu
header {
  @include theme-colors($dark-theme: true);

  &.scrolled,
  &.light {
    @include theme-colors($dark-theme: false);
  }

  @include bg-colors($dark-bg: false);

  &.scrolled,
  &.light {
    @include bg-colors($dark-bg: true);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }

  width: 100%;
  z-index: 20;
  padding: 1.5rem 2rem;
  position: fixed;
  display: grid;
  grid-template-areas: 'logo logo hamb'
  'menu menu menu';
  transition: 0.3s ease-in-out;
}

a.logo {
  @extend %flex-left;
  font-family: $grotesk;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  @include theme-colors($dark-theme: true);
  z-index: 200;
  width: fit-content;

  .scrolled &,
  header.light & {
    @include theme-colors($dark-theme: false);
  }

  span {
    margin-right: 0.0rem
  }

  transition: 0.3s all ease-in-out;
}

// Mobile menu

header nav {
  grid-area: menu;
  display: flex;
  top: 0;
  height: fit-content;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;

  img {
    width: 48px;
    height: 48px;
    margin: 1.5rem 0;
    border-radius: 50%;
  }

  @media all and (min-width: $desktop) {
    height: auto;

    img {
      display: none;
    }
  }

}

.fill {
  object-fit: none;
    @media all and (min-width: $tablet) {
      object-fit: cover;
    }
}

nav ul li a {
  font-family: $grotesk;
  display: block;
  width: fit-content;
  margin: 1.5rem 0;
  font-size: 3em;
  text-decoration: none;
  text-align: left;
  transition: all 0.3s ease-in-out;
  color: $light-text;

  @media all and (min-width: $desktop) {
    @include theme-colors($dark-theme: true);

    .scrolled &,
    .light & {
      @include theme-colors($dark-theme: false);
    }
    font-weight: 400;
    font-size: 1.2em;
    padding: 0 2rem;
  }
}


header nav {
  opacity: 0;
  max-height: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  @extend %flex-center;
  transition: 0.3s all;

  @media all and (min-width: $desktop) {
    opacity: 1;
    max-height: initial;
    background-color: transparent;
  }
}

header nav ul {
  margin-top: 1em;
  padding: 3rem;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media all and (min-width: $desktop) {
    display: flex;
    align-items: unset;
    margin: 0;
    justify-content: center;
    padding: 0;
  }
}

nav ul li a:hover {
  color: $link;
}

nav ul li a.active {
  color: $link;
}

header div.social {
  grid-area: social;
}

div.social {
  display: flex;
  align-content: center;
  width: 100%;

  i {
    padding: 0 1.5em 0 0;
    font-size: 1.3rem;
  }

  :hover {
    color: $link;
    background-image: none;
  }

  @media all and (min-width: $desktop) {
    nav li & {
      position: fixed;
      right: 0;
      width: fit-content;
    }

    a {
      padding: 0;
    }

    // a:nth-child(1) {
    //   border-left: 1px solid #ccc;
    //   padding-left: 2rem;
    // }
  }
}

/* Menu Icon  */

header .menu-icon {
  cursor: pointer;
  position: relative;
  justify-self: right;
  align-self: center;
  grid-area: hamb;

  @media all and (min-width: $desktop) {
    display: none;
  }
}

.hamburguer {
  @include bg-colors($dark-bg: true);

  header.scrolled &,
  header.light & {
    @include bg-colors($dark-bg: false);
  }

  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
  z-index: 3;
}

.hamburguer:before,
.hamburguer:after {
  @include bg-colors($dark-bg: true);

  header.scrolled &,
  header.light & {
    @include bg-colors($dark-bg: false);
  }

  content: '';
  display: block;
  height: 2px;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .hamburguer:before {
  top: 8px;
  height: 2px;
  width: 65%;
}

header .menu-icon .hamburguer:after {
  top: -8px;
  height: 2px;
}

/* Menu Hamburguer button */
header .menu-btn {
  display: none;
}

header .menu-btn:checked~nav {
  opacity: 1;
  max-height: 100vh;
}

header .menu-btn:checked~.menu-icon .hamburguer {
  background: transparent;
}

header .menu-btn:checked~.menu-icon .hamburguer:before {
  transform: rotate(-45deg);
  width: 100%;
  background: black;
}

header .menu-btn:checked~.menu-icon .hamburguer:after {
  transform: rotate(45deg);
  background: black;
}

header .menu-btn:checked~.menu-icon .hamburguer:before,
header .menu-btn:checked~.menu-icon .hamburguer:after {
  top: 0;
}

// Scroll button

.btn-scroll {
  bottom: 1em;
  text-align: left;
  width: 1.5rem;
  z-index: 5;
  position: absolute;
  bottom: 1rem;

  a {
    display: block;
    text-align: left;
    width: 100%;
    position: relative;
    transition: 0.3s ease-in-out;
    padding-top: 1em;
    color: #ffffff;
    text-decoration: none;
  }
}

.btn-scroll a::after {
  content: "";
  display: block;
  width: 2px;
  height: 3em;
  position: relative;
  background-color: #ffffff;
  margin: 1em auto;
}

.btn-scroll i {
  display: flex;
  position: absolute;
  bottom: 0;
  line-height: 0;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.btn-scroll a:hover {
  transform: translate(0px, 1em);
}

// Image and videos
video{
  margin: 0 auto;
    display: flex;
    max-width: cover;
    overflow: clip;
    min-height: 300px;
    max-height: 350px;
    border-radius: 12px;
    width: 100%;

    @media all and (min-width: $desktop) {
    max-height: 450px;
  }
}

// Principles
.principles {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr;

  @media all and (min-width: $tablet-sm) {
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  @media all and (min-width: $desktop) {
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  div {
    @extend %flex-center;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    padding: 2rem;
    justify-content: space-between;
    border-radius: 0.5rem;
    max-width: 100%;
    margin: 1rem 0 0;
           @media all and (min-width: $tablet) {
            margin: 0;
           }
  }
  img { max-width: 220px;
    max-height: min-content;
          align-self: center;
          margin-bottom:1rem;
        }
  div:nth-child(1) {
    background-color: #FEDF60;
  }
  div:nth-child(2) {
    background-color: #9DC7D5;
  }
  div:nth-child(3) {
    background-color: #CAC3F8;
  }

  p {
    @extend %subtitles;
  }
}

// Project Card
.project-card {
  @extend %flex-center;
  flex-direction: column;
  margin: 0rem 0 0;
  
  a & {
    color: $light-text;
    text-decoration: none;
  } 

  h2 {
    @extend %titles;

    i {
      font-size: small;
    }
  }

  p {
    @extend %subtitles;
    height: 45px;
  }

  picture {
    width: 100%;
    margin: 1rem 0;
    transform: translateY(0px);
    transition: all 0.3s;

    :hover {
      transform: scale(0.95, 0.95);
      transition: all 0.3s;
    }
  }
  
  img {
    width: 100%;
    max-height: min-content;
    border-radius: 0.3rem;
    /* border: 1px solid lightgray; */
    transition: all 0.3s;

    @media all and (min-width: $tablet) {
      max-height: fit-content;
    }

    @media all and (min-width: $desktop) {
      max-height: fit-content;
    }
  }

  @media all and (min-width: $tablet) {
    grid-column: 0;
  }

  @media all and (min-width: $desktop) {
    grid-gap: 0rem;
  }
}

.article-card {
  margin: 3rem 0;

  a.title {
    color: $light-text;
    text-decoration: none;
  }

  h3 {
    @extend %titles;

    i {
      font-size: small;
      margin: 0 0.5rem;
    }
  }

  p {
    @extend %subtitles;
    margin-bottom: 1rem;
  }

  div {
    span {
      font-size: 13px;
      ;
    }
  }
}

// Grid
.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin: 3rem 0;
  @media all and (min-width: $tablet-sm) {
    grid-template-columns: 1fr 1fr;
  }

  @media all and (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;

    h5 {
      font-size: $small;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 1rem;
    }
    p.link {
      font-size: 1rem;
      font-weight: 400;
      color: darkslategray;
      text-decoration: underline;
      transition: all ease-in-out 0.5s;
    }
}
}


// Projects

.team {
  @extend %flex-left;
  align-items: center;

  li & {
    margin: 1rem 0;
  }

  a{
    margin-right: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
    border-radius: 50%;
    width: 100%;
    max-width: 4rem;
    margin-right: 0.7rem;
    border: 4px solid transparent;
    filter: none;
    transition: all ease-in-out 0.5s;
    } 
  }
  a:hover {
    img {
    border-color: transparent;
    rotate: y 180deg;    
    transition: all ease-in-out 0.5s;
    }
    p.link {
      color: $link;
      transition: all ease-in-out 0.5s;
    }
  }

  div {
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-family: $ibm;
  }

  p {
    font-size: 0.85rem;
    margin: 2px 0 0 0;
  }
}

// Footers
.typeform-widget button {
  font-family: $grotesk !important;
    background: linear-gradient(black 0 0) no-repeat calc(200% - var(--p, 100%))
    100% / 200% var(--p, 0.0em)!important;
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s)) !important;
    border: 2px solid black !important;
    color: black !important;
}

.typeform-widget button:hover {
  --p: 100% !important;
  --t: 0.3s !important;
  color: #fff !important;
}