// Typography: Here you'll find all typography rules,

h1,
h2,
h3,
h4 {
  font-family: $grotesk;
  font-weight: 600;
}

p,
p span {
  font-family: $ibm;
}

// Headlines
h1 {
  font-size: $regular;
  line-height: 1.2;
  margin: 1.5rem 0;
  @include theme-colors($dark-theme: true);

  .scrolled &,
  .light & {
    @include theme-colors($dark-theme: false);
    font-size: $semi-normal;
  }

  @media all and (min-width: $tablet-sm) {
    font-size: $regular;
  }

  @media all and (min-width: $tablet) {
    font-size: $big;
  }

  @media all and (min-width: $desktop) {
    font-size: $big;
    font-weight: 600;
    width: 100%;
  }
  @media all and (min-width: $big-desktop) {
    font-size: $large;
    font-weight: 600;
    width: 100%;
  }
}

h2 {
  font-size: $regular;
  line-height: 1.2;
  margin: 1.5rem 0;
  @media all and (min-width: $tablet) {
    font-size: $big;
    font-weight: 600;
    width: 100%;
  }
}

h3 {
  @extend %titles;
}

h4 {
  font-size: 22px;
  text-transform: none;
  font-weight: 700;
}

h6 {
  font-size: small;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.35;
  margin-bottom: 1rem;
  @include theme-colors($dark-theme: true);

  .scrolled &,
  .light & {
    @include theme-colors($dark-theme: false);
  }

  @media all and (min-width: $tablet) {
    font-size: 1rem;
  }

  @media all and (min-width: $desktop) {
    font-size: 1.1rem;
  }

  &.leading {

    @media all and (min-width: $tablet) {
      font-size: 1.25rem;
    }

    @media all and (min-width: $desktop) {
      font-size: 1.25rem;
      width: 100%;
    }
  }
}

.cursive {
  font-family: $cursive;
  font-size: 2rem;
  margin-bottom: 0 rem;
  font-weight: 400;}

// Links
p.link {font-size: 18px;}
.link, a {
  color: $link;
  text-decoration: none;
  position: relative;
  .font-light { font-weight: 300;}
}

.underline-text {  
   background-image: linear-gradient(transparent 65%, rgb(252, 241, 19) 0px);
  background-repeat: no-repeat;
  text-decoration: none;
  /* Set initial size to 0% */
  background-size: 0% 100%;
  
  /* Apply the animation */
  /* duration: 0.6s, delay: 0.5s, 'forwards' ensures it stays at 100% */
  animation: draw-bg 0.9s ease-out 0.5s forwards;
}

@keyframes draw-bg {
  to {
    background-size: 100% 100%;
  }
}


 a:hover .underline:hover { 
  background-size: 100% 100%;
}

i {font-size: smaller;}

.bold {font-weight: bold;}

 /*a .underline{width:100%;background-image:linear-gradient(transparent calc(100% - 2px),#000 2px);background-repeat:no-repeat;background-size:0 100%;-webkit-transition:background,.5s;transition:background,.5s}
 a:hover .underline{color:#231f20;background-size:100% 100%}*/

 // Utilities
 .center {text-align: center;}
 .constrain {max-width: 800px; margin-left: auto; margin-right: auto;}