// Font placeholders
$ubuntu: 'Ubuntu', sans-serif;
$libre: 'Libre Baskerville', serif;
$grotesk: 'Bricolage Grotesque';
$ibm: 'IBM Plex Sans', sans-serif;
$cursive: 'Marck Script', cursive;

// Color placeholders
$light-background: #fafafa;
$light-text: #323232;
$dark-background: #9268b7;
$dark-text: #d2e1dd;
$hover: #FCDD69;
$link: cornflowerblue;
$ybg-background: #FFFFC8;
$blue: aliceblue;

// Size placeholders
$large: 3.5rem;
$big: 2.5rem;
$regular: 2rem;
$semi-normal: 1.75rem;
$normal: 1.5rem;
$small: 1.25rem;

// Paddings and margins
$padding-mobile: 2rem;

// Useful
%flex-left {
  align-items: center;
  justify-content: left;
  display: flex;
}

%flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
}

%outline {
  color: $dark-text;
  /* Fall back color */
  -webkit-text-fill-color: white;
  /* Overriding color */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

%titles {
  font-size: $semi-normal;
  line-height: 1.2;
  margin: 0.5rem 0;
}

%subtitles {
  color: $light-text;
  margin: 0.5rem 0;
  line-height: 1.4;
  font-size: 0.9rem;
}

%bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Mixins for dark and light theme
@mixin theme-colors($dark-theme: true) {
  @if $dark-theme {
    color: $light-text; // light-text
  }

  @else {
    color: $light-text;
  }
}

@mixin bg-colors($dark-bg: true) {
  @if $dark-bg {
    background: white;
    border-bottom: 1px solid #E7E7E7;
  }

  @else {
    background: $light-background;
  }
}

// Media Queries
$tablet-sm:640px;
$tablet: 1024px;
$desktop: 1200px;
$big-desktop: 1600px;